<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <header>
    <h1>This is peoples blog</h1>
    <h2>It's about the stuff people like to write about</h2>
    
  </header>
  <main>
    <h2>Published Articles</h2>
    
    <form method="POST" action="/registered" class="container mt-4">
      <div class="mb-3">
        <p>Your username</p>
        <input id="username" type="text" name="username" value="" class="form-control">
      </div>
      <div class="mb-3">
        <p>Your password</p>
        <input id="password" type="text" name="password" value="" class="form-control">
      </div>
      <div class="mb-3">
        <p>Your email</p>
        <input id="email" type="text" name="email" value="" class="form-control">
      </div>
      <div class="dropdown" id="is_author">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Are you an author?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Yes</a>
          <a class="dropdown-item" href="#">No</a>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">OK</button>
    </form>
    

    <ul>
        <li>
          <h3>This will be a list of articles</h3>
          <p>Published on: <b>the date will be here</b>></p>
          <a href="linktonowhere">Read more</a>
          <p>Author: <b>this will show the name of the author</b></p>
        </li>
    </ul>

  </main>
  <footer>
    <p>&copy; <b>Here will be a year and logo</b>. All rights reserved.</p>
  </footer>

  <script>
    function formatDate(dateString) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return new Date(dateString).toLocaleDateString(undefined, options);
    }
  </script>
</body>
</html>
