<!doctype html>
<html>
<head>
  <title>List webpage!</title>
</head>
<body>
  <h1>This is List Page</h1>
  <h3>You can see names and prices of all available books at our bookshop here:</h3>
  <ul>
    <% availableArticles.forEach(function(article) { %>
      <li><%= article.title %>, <%= article.subtitle %>, <%= article.content %>, <%= article.publicationDate %></li>
    <% }) %>
  </ul>
</body>
</html>
